#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.black {
  background-color: #2596be;
}

.white {
  background-color: #f1f1f1;
}

.available {
  background-color: rgba(255, 0, 0, 0.1);
}

.square {
  display: flex;
  place-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}
